<header>Modulos</header>
<p class="my-3 text-justify">En cuanto a código, un módulo es una clase con un decorador llamado @NgModule.</p>
<p class="my-3 text-justify">Su propósito es: organizar las partes de nuestra aplicación. Ordenando la misma en bloques. Permitiendo extender nuestra aplicación con funcionalidades de librerías externas. Permite a angular saber las importaciones / exportaciones necesarias para que cierto componente funcione.</p>
<p class="my-3 text-justify">En concreto un módulo angular:</p>
<p class="my-3 text-justify">Declara los componentes, directivas y pipes. E inicia (bootstraps) de forma visual (el html/css) esos componentes para que sean visibles.</p>
<p class="my-3 text-justify">Además:</p>
<p class="my-3 text-justify">Exporta otros módulos, ya sean nuestros, de angular o de librerías de terceros, al igual que puede exportar componentes, directivas o pipes.</p>
<p class="my-3 text-justify">También importa módulos.</p>
<p class="my-3 text-justify">Como añadido: </p>
<p class="my-3 text-justify">Los módulos angular proveen de servicios, lo cual significa que hacen disponibles los servicios para todos los componentes, directivas y pipes que estén declaradas en ese módulo.</p>
<h4 class="my-3">Archivo: pages.module.ts</h4>
<pre class="line-numbers compodoc-sourcecode my-3">
<code class="language-typescript" [innerHTML]="codeModules0"></code>
</pre>
<h4 class="my-3">Archivo: app.module.ts</h4>
<pre class="line-numbers compodoc-sourcecode my-3">
<code class="language-typescript" [innerHTML]="codeModules1"></code>
</pre>   