<header>Rutas hijas</header>
<div class="row my-3">
    <div class="col-md-12 tex-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="[ 'newUser']">Nuevo</button>
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="[ 'editUser']">Editar</button>
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="[ 'detailUser']">Detalle</button>
        </div>
    </div>
</div>
<div class="my-3">
    <router-outlet></router-outlet>
</div>

<header>Recibir parámetros por URL del padre en las rutas hijas</header>
<ul class="list-group">
    <li class="list-group-item bg-ligth">Importar ActivatedRoute de @angular/core.</li>
    <li class="list-group-item bg-ligth">Declarar las variables y/o constantes que vamos a recibir.</li>
    <li class="list-group-item bg-ligth">Inyectar ActivatedRoute en el constructor.</li>
    <li class="list-group-item bg-ligth">Suscribirse al observable params del padre en el constructor.</li>
</ul>
<pre class="line-numbers compodoc-sourcecode my-3">
<code class="language-typescript" [innerHTML]="codeParams"></code>
</pre>


<header>Ejemplo rutas hijas</header>
<pre class="line-numbers compodoc-sourcecode my-3">
<code class="language-typescript" [innerHTML]="codeRoutes"></code>
</pre>

<header>Ejemplo rutas hijas separadas en un archivo (arreglo de rutas)</header>
<pre class="line-numbers compodoc-sourcecode my-3">
<code class="language-typescript" [innerHTML]="codeRoutes2"></code>
</pre>
<pre class="line-numbers compodoc-sourcecode my-3">
<code class="language-typescript" [innerHTML]="codeRoutes3"></code>
</pre>

<header>Rutas hijas separadas en un archivo</header>
<p class="my-3">Las rutas hijas están separadas en un archivo y exportadas como una clase: PagesRoutingModule e importadas en un modulo, pages.module.ts que a su vez está importado en el app.module.ts.</p>
<h4 class="my-3">Archivo: pages.routing.ts</h4>
<pre class="line-numbers compodoc-sourcecode my-3">
<code class="language-typescript" [innerHTML]="codeRoutes4"></code>
</pre>
<h4 class="my-3">Archivo: pages.module.ts</h4>
<pre class="line-numbers compodoc-sourcecode my-3">
<code class="language-typescript" [innerHTML]="codeRoutes5"></code>
</pre>
<h4 class="my-3">Archivo: app.module.ts</h4>
<pre class="line-numbers compodoc-sourcecode my-3">
<code class="language-typescript" [innerHTML]="codeRoutes6"></code>
</pre>
    