<header>@Input</header>
<p class="my-3">Decorador que marca un campo de clase como una propiedad de entrada y proporciona metadatos de
    configuración. La propiedad de entrada está vinculada a una propiedad DOM en la plantilla. Durante la detección de
    cambios, Angular actualiza automáticamente la propiedad de datos con el valor de la propiedad DOM.</p>
<ul class="list-group my-3">
    <li class="list-group-item">Importar Input de @angular/core</li>
    <li class="list-group-item">La declaración es similar a cualquier otra variable.</li>
</ul>
<p class="my-3">Notas de uso: Puede proporcionar un nombre opcional para usar en las plantillas cuando se instancia el componente, que se asigna al nombre de la propiedad enlazada. De forma predeterminada, el nombre original de la propiedad enlazada se usa para el enlace de entrada. El siguiente ejemplo crea un componente con dos propiedades de entrada, una de las cuales recibe un nombre de enlace especial.</p>

<pre class="line-numbers my-3">
<code class="language-typescript" [innerHtml]="inputCode"></code>
</pre>

<header>@Output</header>
<p class="my-3">Falta editar esto</p>
<ul class="list-group my-3">
    <li class="list-group-item">Importar Output y EventEmitter de @angular/core</li>
    <li class="list-group-item">La declaración es diferente ya que debe ser de tipo EventEmitter&lt;data type&gt;.</li>
</ul>
<p class="my-3">Notas de uso: Puede proporcionar un nombre opcional para usar en las plantillas cuando se instancia el componente, que se asigna al nombre de la propiedad enlazada. De forma predeterminada, el nombre original de la propiedad enlazada se utiliza para el enlace de salida.</p>

<pre class="line-numbers my-3">
<code class="language-typescript" [innerHtml]="outputCode"></code>
</pre>

<pre class="line-numbers my-3">
<code class="language-html" [innerHtml]="htmlcode"></code>
</pre>