<h1>Heroes</h1>
<hr>
<div class="row my-3 animated fadeIn fast">
  <div class="col text-right">
    <a class="btn btn-outline-primary" [routerLink]="[ '/http-request/heroe', 'nuevo' ]">
      <i class="fas fa-user-plus"></i>
    </a>
  </div>
</div>
<div class="row animated fadeIn fast">
  <div class="col-12">
    <table *ngIf="!loading" class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Casa</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of heroes | keys; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ heroes[key].nombre }}</td>
          <td>{{ heroes[key].casa }}</td>
          <td>
            <button class="btn btn-outline-success btn-sm mx-2" [routerLink]="[ '/http-request/heroe', key ]">
              <i class="fas fa-user-edit"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm mx-2" (click)="borrarHeroe(key)">
              <i class="fas fa-user-minus"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info">
      <strong>No hay</strong> registros que mostrar.
    </div>
    <div *ngIf="loading" class="alert alert-primary text-center">
        <i class="fas fa-spinner fa-spin fa-7x"></i>
    </div>
  </div>
</div>